.gallery {
    font-family: "Inter", Arial, sans-serif;
    padding: 15px 0 67px;
}

.gallery__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, 282px);
    grid-gap: 20px 17px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: center;
}

@media screen and (max-width:550px) {
    .gallery__cards {
        padding: 0 0 12px;
    }
}

@media screen and (max-width:320px) {
    .gallery {
        padding: 0;
    }
}