.header {
    max-width: 880px;
    width: 100%;
    min-height: 74px;
    margin: 0 auto;
    border-bottom: 1px solid rgba(84, 84, 84, 1);
    padding: 45px 0 0;
}

.header__logo {
    width: 173px;
    height: 33px;
}

@media screen and (max-width:320px){
    .header {
        width: 320px;
        min-height: 56px;
        padding-top: 28px;
    }
    
    .header__logo {
        width: 126px;
        height: 24px;
        padding-left: 27px;
    }
}