.page {
    background: black;
    font-family: "Inter", Arial, sans-serif;
}

.page__content {
    background-color: black;
    width: 100%;
    min-height: 100vh;
    -webkit-font-smoothing: antiliased;
    -moz-osx-font-smoothing: grayscale;
}

.page__section {
    width: 100%;
    max-width: 882px;
    box-sizing: border-box;
    position: relative;
    margin: 0 auto;
}

@media screen and (max-width: 1100px) {
    .page__section {
        margin: 0 20px;
        max-width: calc(100% - 40px);
    }
}

@media screen and (max-width:320px) {
    .page {
        max-width: 320px;
        width: 100%;
    }

    .page__content {
        max-width: 282px;
        width: 100%;
        padding-left: 19px;
        padding-right: 19px;
    }
}