.profile {
    display: flex;
    align-items: center;
    margin: auto;
    max-width: 880px;
    width: 100%;
}

.profile__image {
    width: 120px;
    height: 120px;
    border-radius: 60px;
    gap: 0px;
    opacity: 0px;
    margin: 0 29px 0 0;
}

.profile__info {
    display: grid;
    align-items: baseline;
    max-width: 880px;
    width: 100%;
    margin: auto;
    grid-template-areas: "title button" "description description";
    grid-template-columns: minmax(auto, 370px) auto;
}

.profile__title {
    max-width: 373px;
    font-size: 42px;
    grid-area: title;
    color: white;
    margin-bottom: 7px;
    font-weight: 500;
}

.profile__title-description {
    max-width: 370px;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.78px;
    text-align: left;
    margin-top: 0;
    color: rgba(255, 255, 255, 1);
    font-family: "Inter", Arial, sans-serif;
}

.profile__edit-button {
    width: 24px;
    height: 24px;
    background: url(../images/edit.svg) center no-repeat;
    border: 1px solid rgba(255, 255, 255, 1)
}

.profile__button {
    width: 150px;
    height: 50px;
    background-color: black;
    background: url(../images/Vector\ \(1\).svg) center no-repeat;
    color: white;
    border-radius: 2px 0px 0px 0px;
    border-color: white;
}

@media screen and (max-width: 320px) {
    .profile {
        flex-direction: column;
    }
}